body{margin:0;
background-image:url('back.jpg');

no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.roundedImage {
    background: url(self.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:100px;
    width:150px;
    height:150px;
}

.roundedImageAI {
    background: url(ai.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:100px;
    width:150px;
    height:150px;
}

.roundedImageHCI {
    background: url(hci.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    overflow:hidden;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:100px;
    width:150px;
    height:150px;
}