#homeScreen{
    width:1160;
    height:640;
}

#container{
    position: relative;
    width: 1160px;
    height: 640px;
}

/* height should be 591px */

#idol_img{
    position: absolute;
    bottom: 10px;
    left: 10%;
 
    
}