#homeScreen{
    width:1060;
    height:640;
}

#container{
    position: relative;
    width: 1060px;
    height: 640px;
}

/* height should be 591px */

#idol_img{
    position: absolute;
    bottom: 1%;
    left: 6%;
 
    
}

#home_but{
    position: absolute;
    bottom: -1%;
    left: 6%;

}

#story_but{
    position: absolute;
    bottom: -1.5%;
    left: 19%;

}

#member_but{
    position: absolute;
    bottom: -1.5%;
    left: 31%;

}








